body{
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
}
.preloader{
  margin: 15em 38em;
  border: 16px solid #e3e3e3;
  border-radius: 50%;
  border-top: 16px solid #800DF3;
  width: 150px;
  height: 150px;
}
